<!DOCTYPE html>
<html ng-app="demo">
<head>
    <title>Update  AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="updateController.js"></script>
</head>
    <body>
        <div ng-controller="UpdateController">
            <form novalidate class="simple-form">
                Description: <input type="text" ng-model="expense.description" /><br />
                Value: <input type="text" ng-model="expense.value"/> <br />
                <input type="submit" ng-click="update()" value="Save" />
            </form>

        </div>
    </body>
</html>