<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>View expense</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="viewController.js"></script>
</head>
    <body>
        <div ng-controller="ViewController">
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                        <th>Date</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="expense in expenses">
                        <td ng-bind="expense.description"></td>
                        <td ng-bind="expense.value"></td>
                        <td ng-bind="expense.date"></td>
                        <td><a href="#" ng-click="delete(expense, $index)">Delete</a></td>
                        <td><a href="#" ng-click="update(expense)">Update</a></td>
                    </tr>
                </tbody>
            </table>

            <a ng-href="{{indexUrl}}">Create expense</a>

        </div>
    </body>
</html>